@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
:root {
  --text-color: white;
  --bg-color:  #0E3794;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.home {
  background-color: var(--bg-color);
  height: 100vh;
}

section.main {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-left: 150px;
  margin-right: 150px;
}

div.introduction {
  color: var(--text-color);
  /* border: red solid 1px; */
  width: 50%;
}

p.now {
  font-size: 50px;
  font-family: 'Courier New', cursive;
  margin-bottom: 50px;
}

/* div.image {
  color: black;
} */
i.fa-sms {
  color: white;
  align-self: center;
  font-size: 400px;
}
/* img {
  width: 50%;
  height: 400px;
  opacity: 50%;
} */

div.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

button.cr-ac,
button.log-in {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: large;
  border: white solid 2px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

p.or {
  color: var(--text-color);
  font-size: 30px;
}
