@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
:root {
  --text-color: white;
  --bg-color:  #1a5eff;
}


body {
  background-color: var(--bg-color);
}

.nav-bar {
  margin-top: 40px; 
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  /* max-width: 1100px; */
}

div.logo {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
}

div.right {
  display: flex;
}

p.sign-up{
  margin-right: 10px;
}

p.log-in {
  margin-left: 10px;
}

section.main {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-left: 150px;
  margin-right: 150px;
}

div.introduction {
  color: var(--text-color);
  /* border: red solid 1px; */
  width: 50%;
}

p.now {
  font-size: 50px;
  font-family: 'Courier New', cursive;
}

/* div.image {
  color: black;
} */
i.fa-sms {
  color: black;
  align-self: center;
}

div.get-started {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

button.cr-ac,
button.log-in {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: large;
  border: white solid 2px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

p.or {
  color: var(--text-color);
  font-size: large;
}