@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");
:root {
  --text-color: white;
  --bg-color: #0e3794;
  --task-bg: #1a2845;
  --tasks-box-shadow: rgb(1, 28, 68) 0px 0px 20px 2px;
  --tasks-broder-radius: 7px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button:hover {
  transform: scale(1.1);
}

div.home {
  /* background-color: var(--bg-color); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    137deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 55, 148, 1) 74%,
    rgba(0, 127, 255, 1) 100%
  );
  min-height: 100vh;
}

section.main {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-left: 150px;
  margin-right: 150px;
}

div.introduction {
  color: var(--text-color);
  width: 50%;
}

p.now {
  font-size: 50px;
  font-family: "Courier New", cursive;
  margin-bottom: 50px;
}

i.fa-sms {
  color: white;
  align-self: center;
  font-size: 400px;
}

div.get-started {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

.cr-ac,
.log-in {
  background-color: rgb(5, 15, 44);
  color: var(--text-color);
  font-size: large;
  border: white solid 2px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

p.or {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
}

.link,
.link:hover {
  text-decoration: none;
  color: inherit;
}

.reminder-types {
  font-size: 1.8rem;
  position: relative;
  margin-left: 30px;
  list-style-type: "~   ";
}

.about-app {
  font-size: 2rem;
  color: white;
}
