.nav-bar {
  height: 100px;
  padding-left: 150px;
  padding-right: 50px;
  color: var(--text-color);
  box-shadow: black 0px 0px 7px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  margin: auto;
}

.task-nav {
  padding-left: 50px;
  background: linear-gradient(
    137deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 55, 148, 1) 74%,
    rgba(0, 127, 255, 1) 100%
  );
  background: rgb(9, 34, 91);
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #0e3794;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.logo {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}
a.logo:hover {
  text-decoration: none;
  color: inherit;
  transform: scale(1.05);
}

div.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

p.sign-up {
  margin-right: 10px;
  font-size: 20px;
}

p.log-in {
  margin-left: 10px;
  font-size: 20px;
}

.log-out {
  vertical-align: center;
  font-weight: 700;
  font-size: 20px;
}

.log-out:hover {
  cursor: pointer;
  transform: scale(1.1);
}
