.nav-bar {
  height: 100px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  box-shadow: black 0px 0px 7px;
}

.task-nav {
  color: #0E3794;
}

.avatar {
  border-radius: 50%;
  width:40px;
  height: 40px;
  background-color: #0E3794;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.logo {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
}

div.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

p.sign-up{
  margin-right: 10px;
  font-size: 20px;
}

p.log-in {
  margin-left: 10px;
  font-size: 20px;
}