.task-container {
  /* margin-left: 300px; */
  margin-top: 10px;
  background-color: var(--task-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 135px;
  padding-bottom: 10px;
  padding-left: 30px;
  /* border: rgb(221, 221, 221) 1px solid; */
  box-shadow: var(--tasks-box-shadow);
  border-radius: var(--tasks-broder-radius);
  color: white;
}

.task-header {
  display: flex;
  justify-content: space-between;
}

.task-footer {
  display: flex;
  justify-content: space-between;

}

.task-footer-right {
  display: flex;
  justify-content: center;
  width: auto;
  padding-right: 20px;
  gap: 15px;
}

.task-footer-left {
  display: flex;
  gap: 15px;
  width: auto;
}

.task-name {
  width: 70%;
  border-bottom: solid rgb(192, 192, 192) 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.task-status {
  color:white;
  text-align: center;
  vertical-align: middle;
  width: 96px;
  height: 24px;
  font-size: 17px;
  border-radius: 0 7px 0 7px;
}

.active {
  background-color: rgb(0, 0, 0);
}
.completed {
  background-color: rgb(83, 83, 83);
}

.task-time {
  font-size: 15px;
}

.task-type {
  font-size: 15px;
}

.task-button {
  border-radius: 20px;
  padding: none;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  padding: 0 10px;
  background-color: inherit;
  font-weight: 700;
}

.complete  {
  color: #3EAB16;
  border: #3EAB16 2px solid;
}

.delete {
  color:#EB1E07;
  border:  #EB1E07 2px solid;
}

.restart {
  color: #DBA14A;
  border:  #DBA14A 2px solid;
}

.complete:hover {
  background-color: #beddb4;
}

.delete:hover {
  background-color: #dfb9b5;
}

.restart:hover {
  background-color: #dbc6a7;
}


