
.tasks-list {
  background-color: #fff;
  height: 100vh;
  
}
.tasks-main {
  max-width: 1440px;
  margin: auto;
}
/*  @todo edit this class names */
.justadiv{
  height: 70vh;
  width: 100%;
  box-shadow: black 0px 0px 7px;
}

.select-frequency {
  width: 63%;
  height: 75px;
  /* border: grey 1px solid; */
  box-shadow: gray 5px 5px 10px 0px;
  background-color: white;
  position: relative;
  top: -10px;
  left: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.frequency {
  border-bottom: 1px solid black;
  padding-left: 6px;
  padding-right: 6px;
  color: #0E3794;
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 3px;
}

.active {
  color: red;
  background-color: aqua;
  border: none;
}
