div.task {
  margin: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  height: 120px;
  padding-bottom: 10px;
  padding-left: 30px;
  border: rgb(172, 172, 172) 0.1px solid;
  box-shadow: grey 2px 4px 5px;
}

.task-header {
  display: flex;
  justify-content: space-between;
}

.task-footer {
  display: flex;
  justify-content: space-between;

}

.task-footer-right {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding-right: 20px;
}

.task-footer-left {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.task-name {
  width: 75%;
  border-bottom: solid grey 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-status {
  background-color: black;
  color:white;
  text-align: center;
  vertical-align: middle;
  width: 96px;
  height: 24px;
}