.tasks-list {
  background-color: rgb(9, 34, 91);
  min-height: 100vh;
}
.tasks-main {
  max-width: 1440px;
  margin: auto;
}
/*  @todo edit this class names */
.justadiv{
  height: 70vh;
  width: 100%;
  box-shadow: var(--tasks-box-shadow);
  background-color: var(--task-bg);
  border-radius: var(--tasks-broder-radius);
  margin-left: 5%;
}

.select-frequency {
  width: 63%;
  height: 75px;
  border-radius: var(--tasks-broder-radius);
  box-shadow: var(--tasks-box-shadow);
  background-color: var(--task-bg);
  position: relative;
  top: -10px;
  left: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.frequency {
  border-bottom: 1px solid black;
  padding-left: 6px;
  padding-right: 6px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 3px;
}

.selected {
  font-size: 37px;
  border: none;
  position: relative;
}


